// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Open Sans", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

h1, h2, h3 {
  color: $gray-900;
  font-weight: 700;
}

h4, h5, h6 {
  color: $gray-600;
}

p, small, span {
  color: $gray-800;
}
