.action-row {
  display: flex;

  .action-button {
    .icon-sm {
      width: auto;
      height: 20px;
    }
  }
}

.custom-card {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;

}

.custom-card-index {
  min-height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;

  .restaurant-title {
    color: $gray-900;
    font-weight: 700;
  }

  p {
    margin-bottom: 0rem;
  }
}

.star {
  height: 24px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;

  .grid-item {
    grid-column: auto /span 12;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    .grid-item {
      grid-column: auto /span 3;
    }
  }
}
