<div class="grid-container">
  <% @restaurants.each do |restaurant| %>
    <div class="grid-item">
      <div class="custom-card-index">
          <h5 class="restaurant-title"><%= link_to restaurant.name, restaurant_path(restaurant), {:style=>'color:#0a0c0f;'} %></h5>
          <p class="restaurant-adress"><%= restaurant.address %></p>
          <p class="restaurant-type"><%= restaurant.category %></p>
        </div>
    </div>
  <% end %>
</div>
