a {
  font-weight: 600;
  color: $gray-500;
  text-decoration: none;

  &:hover {
    color: $gray-700;
  }
}

.action-row {
  display: flex;

  .action-button {
    .icon-sm {
      width: auto;
      height: 20px;
    }
  }
}


.custom-card {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 4rem;

  .restaurant-title {
    font-weight: 700;
  }
}

.star {
  height: 24px;
}
